<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h4 class="h1">Desarrolladores: </h4>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <img class="img-fluid avatar rounded-circle h-auto" src="aboutus/pau.png" alt="Pau">
                        <h6>Pau Cañizares López</h6>
                        <span>Curs 2024-2025, 2025</span>
                        <p class="text-start"></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <img class="img-fluid avatar rounded-circle h-auto" src="aboutus/rocio.png" alt="Rocio">
                        <h6>Rocio Yong Yi Liria Vivancos</h6>
                        <span>Curs 2024-2025, 2025</span>
                        <p class="text-start"></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <img class="img-fluid avatar rounded-circle h-auto" src="aboutus/xavi.png" alt="Xavi">
                        <h6>Xavier Gavilan Rivas</h6>
                        <span>Curs 2024-2025, 2025</span>
                        <p class="text-start"></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <img class="img-fluid avatar rounded-circle h-auto" src="aboutus/hector.png" alt="Hector">
                        <h6>Hector Martinez Cervera</h6>
                        <span>Curs 2024-2025, 2025</span>
                        <div class="container">
                            <p class="text-start offset-2 border col-8">Entusiasta de la tecnologia, me adentro en el mundo del desarrollo web.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
