<div class="pt-5 pb-3 invisible z-2" id="team"></div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h4 class="h1">Desarrolladores: </h4>
            <div class="container">
                <div class="row">
                    <!-- Nom1 -->
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <div class="fondo2">
                            <img class="img-fluid avatar rounded-circle h-auto border border-warning" src="aboutus/1.png" alt="Pau">
                        </div>
                        <h6>Pau Cañizares López</h6>
                        <span><a href="lopezpaud@gmail.com">lopezpaud&#64;gmail.com</a></span>
                        <p class="text-start"></p>
                    </div>
                    <!-- Nom2 -->
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <div class="fondo2">
                            <img class="img-fluid avatar rounded-circle h-auto border border-warning" src="aboutus/1.png" alt="Rocio">
                        </div>
                        <h6>Rocio Yong Yi Liria Vivancos</h6>
                        <span><a href="royylong@gmail.com">royylong&#64;gmail.com</a></span>
                        <p class="text-start"></p>
                    </div>
                    <!-- Nom3 -->
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <div class="fondo2">
                            <img class="img-fluid avatar rounded-circle h-auto border border-warning" src="aboutus/1.png" alt="Xavi">
                        </div>
                        <h6>Xavier Gavilan Rivas</h6>
                        <span><a href="xavi.gavilan.xgr@gmail.com">xavi.gavilan.xgr&#64;gmail.com</a></span>
                        <p class="text-start"></p>
                    </div>
                    <!-- Nom4 -->
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <div class="fondo2">
                            <img class="img-fluid avatar rounded-circle h-auto border border-warning" src="aboutus/1.png" alt="Hector">
                        </div>
                        <h6>Hector Martinez Cervera</h6>
                        <span><a href="hector.mc1988@gmail.com">hector.mc1988&#64;gmail.com</a></span>
                        <!-- <div class="container">
                            <p class="text-start offset-2 border col-8">Entusiasta de la tecnologia, me adentro en el mundo del desarrollo web.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
