<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE MI</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Desarrolladores: </h1>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 text-center">
                            <img class="avatar rounded-circle" src="pau.png" alt="Pau">
                            <h6>Pau Cañizares López</h6>
                            <span>Curs 2024-2025, 2025</span>
                            <p class="text-start"></p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 text-center">
                            <img class="avatar rounded-circle" src="rocio.png" alt="Rocio">
                            <h6>Rocio Yong Yi Liria Vivancos</h6>
                            <span>Curs 2024-2025, 2025</span>
                            <p class="text-start"></p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 text-center">
                            <img class="avatar rounded-circle" src="xavi.png" alt="Xavi">
                            <h6>Xavier Gavilan Rivas</h6>
                            <span>Curs 2024-2025, 2025</span>
                            <p class="text-start"></p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 text-center">
                            <img class="avatar rounded-circle" src="hector.png" alt="Hector">
                            <h6>Hector Martinez Cervera</h6>
                            <span>Curs 2024-2025, 2025</span>
                            <div class="container">
                                <p class="text-start offset-2 border col-8">Entusiasta de la tecnologia, me adentro en el mundo del desarrollo web.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>