<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-start">
    <img src="../../public/img/logo.png" alt="logo">
    <button id="btn-rules" class="btn btn-outline-success me-2" type="button" routerLink="rules">
      Rules
    </button>
    <button id="btn-aboutus" class="btn btn-outline-success me-2" type="button" routerLink="aboutus">
      About Us
    </button>
    @if(!logeado) {
    <button id="btn-login" class="btn btn-outline-success me-2" type="button" routerLink="login">
      Login
    </button>
    <button id="btn-registro" class="btn btn-outline-success me-2" type="button" routerLink="registro">
      Registro
    </button>
    }
    @if (logeado) {
    <button id="btn-admin" class="btn btn-outline-success me-2" type="button" routerLink="admin">
      Administració
    </button>
    <button id="btn-logout" class="btn btn-outline-success me-2" type="button" routerLink="logout">
      Logout
    </button>
    }
  </div>
</nav>
<!-- <app-serveis class="collapse" id="servei" href="servei"></app-serveis> -->
<router-outlet></router-outlet>