<!-- <app-serveis class="collapse" id="servei" href="servei"></app-serveis> -->
<app-navbar></app-navbar>
@if (esPagina(["/login"])) {
    <router-outlet></router-outlet>
    <!-- <app-login></app-login> -->
} @else if (esPagina(['/register'])) {
    <router-outlet></router-outlet>
    <!-- <app-registro></app-registro> -->
} @else if (esPagina(['/torneos'])) {
    <router-outlet></router-outlet>
    <app-afegir-torneo></app-afegir-torneo>
} @else if (esPagina(['/add-torneo'])) {
    <app-torneos></app-torneos>
    <router-outlet></router-outlet>
    <app-afegir-torneo></app-afegir-torneo>
} @else if (esPagina(['/upc'])) {
    <app-home></app-home>
} @else if (esPagina(['/', '/#rules', '/#team', '/logout'])) {
    <app-slider></app-slider>
    <app-rules></app-rules>
    <app-tecnologia></app-tecnologia>
    <app-aboutus></app-aboutus>
    <app-programers></app-programers>
} @else {
    <app-notfound></app-notfound>
}
<app-footer [ngClass]="isFixed ? 'fixed-bottom' : ''"></app-footer>