<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="imagen UNO abriendo paquete">
            <div>
                <h4>Juega gratis e inscribete aquí</h4>
                <button><a href="#registro" routerLink="registro">Inscripcion</a></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="cartas en la mesa preparando la partida">
            <h4>Juega gratis e inscribete aquí</h4>
            <button><a href="#codigoC">Codigo en C</a></button>
            <button><a href="#codigoC++">Codigo en C++</a></button>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="imagen, repartir cartas">
            <h4>Gestiona múltiples partidas</h4>
            <button><a href="#servidor">Servidor</a></button>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>