<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
            <div class="imgSlide1">
                <!-- <img class="d-block w-100 alto-40 object-fit-cover img-center img-fluid" src="slider/slider1.jpeg" alt="imagen UNO abriendo paquete"> -->
                <div class="carousel-caption h-100 d-flex justify-content-center align-items-center">
                    <div class="h-40">
                        <h4 class="h1">Juega gratis e inscribete aquí</h4>
                        <button class="btn btn-warning m-2"><a class="text-dark text-decoration-none" routerLink="registro">Inscripcion</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item aligned-self-center" data-bs-interval="7000">
            <div class="imgSlide2">
                <!-- <img class="d-block w-100 alto-40 object-fit-cover" src="slider/slider2.jpeg" alt="cartas en la mesa preparando la partida"> -->
                <div class="carousel-caption h-100 d-flex justify-content-center align-items-center">
                    <div class="h-40">
                        <h4 class="h1">Como funciona</h4>
                        <button class="btn btn-primary m-2"><a class="text-light text-decoration-none" href="#codigoC">Codigo en C</a></button>
                        <button class="btn btn-secondary m-2"><a class="text-light text-decoration-none" href="#codigoC++">Codigo en C++</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item aligned-self-center" data-bs-interval="7000">
            <div class="imgSlide3">
                <!-- <img class="d-block w-100 alto-40 object-fit-cover" src="slider/slider3.jpeg" alt="imagen, repartir cartas"> -->
                <div class="carousel-caption h-100 d-flex justify-content-center align-items-center">
                    <div class="h-40">
                        <h4 class="text-dark h1">Gestiona múltiples partidas</h4>
                        <button class="btn btn-danger m-2"><a class="text-light text-decoration-none" href="#servidor">Servidor</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  