<div class="container-fluid">
    <div class="row" id="gallery">
        <div class="col text-center pb-4">
        <h4 class="h1">Tecnologias</h4>
            <p id="filter-buttons">
                <button class="btn mb-2 px-0 btn btn-light" onclick="filterSelection('todas')">Todas</button> | 
                <button class="btn mb-2 px-0 btn btn-light" onclick="filterSelection('juego')">Del juego</button> |
                <button class="btn mb-2 px-0 btn btn-light" onclick="filterSelection('web')">De la web</button>
            </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="image-container col-3 filter-img todas juego">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="C">
                    </div>
                    <div class="image-container col-3 filter-img todas juego">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="C#">
                    </div>
                    <div class="image-container col-3 filter-img todas juego web">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="Servidor">
                    </div>
                    <div class="image-container col-3 filter-img todas web">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="Angular">
                    </div>
                    <div class="image-container col-3 filter-img todas web">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="Laravel">
                    </div>
                    <div class="image-container col-3 pb-1 filter-img todas juego web">
                        <img src="default.jpeg" class="img-fluid gallery-img zoom-effect" alt="MySQL">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>