<div class="pt-5 invisible z-2" id="add-torneos"></div>
<div class="container">
  <form [formGroup]="formulari" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="justify-content-around form-control">
        <p>Torneo a modificar: {{ torneoElegido }}</p>
        <div class="col-6">
          <label for="description">Description:</label>
          <input id="description" type="text" formControlName="description">
        </div>
        <div class="col-6">
          <button class="btn btn-success" type="submit" [disabled]="!formulari.valid" (click)="actualizar()">Actualitzar torneo</button>
        </div>
      </div>
    </div>
  </form>
</div>