<div class="container">
  <form [formGroup]="formulari" (ngSubmit)="onSubmit()">
    <div class="row">
    <p>Torneo a modificar: {{ torneo_name }}</p>
      <div class="d-flex justify-content-center">
        <div class="col-6">
          <label for="description">Description:</label>
          <input id="description" type="text" formControlName="description">
        </div>
        <div class="col-6">
          <button type="submit" [disabled]="!formulari.valid">Actualitzar torneo</button> 
        </div>
      </div>
    </div>
  </form>
</div>

