<nav class="navbar navbar-expand-lg navbar-dark z-4 front bg-dark sticky-top">
    <div class="container-fluid">
        <div class="d-flex justify-content-center pt-3">
            <svg class="ancho ms-4" viewBox="0 20 300 250" xmlns="http://www.w3.org/2000/svg">
                <!-- Ovalo rojo inclinado -->
                <ellipse cx="150" cy="100" rx="130" ry="70" fill="red" transform="rotate(-15,150,100)" />
                <!-- Texto UPC con efecto de sombra -->
                <text x="50%" y="44%" font-family="Arial, sans-serif" font-size="65" font-weight="bold" 
                    fill="black" stroke="white" stroke-width="10" text-anchor="middle" alignment-baseline="middle" z-index="20">
                    UPC
                </text>
                <text x="51%" y="45%" font-family="Arial, sans-serif" font-size="65" font-weight="bold" 
                    fill="white" stroke="black" stroke-width="10" text-anchor="middle" alignment-baseline="middle" z-index="1">
                    UPC
                </text>
                <text x="50%" y="44%" font-family="Arial, sans-serif" font-size="70" font-weight="bold" 
                    fill="yellow" text-anchor="middle" alignment-baseline="middle">
                    UPC
                </text>
            </svg>
        </div>
        <!-- <button id="btn-rules" class="btn btn-outline-success me-2 text-light mt-1 d-none d-md-block" type="button"  routerLink="rules">
            Rules
        </button>
        <button id="btn-aboutus" class="btn btn-outline-success me-2 text-light mt-1 d-none d-md-block" type="button" routerLink="aboutus">
            About Us
        </button>
        @if(!logeado) {
            <button id="btn-login" class="btn btn-outline-success me-2 text-light mt-1 d-none d-md-block" type="button" routerLink="login">
                Login
            </button>
            <button id="btn-registro" class="btn btn-outline-success me-2 text-light mt-1 d-none d-md-block" type="button" routerLink="registro">
                Registro
            </button>
        }
        @if (logeado) {
            <button id="btn-admin" class="btn btn-outline-success me-2 mt-1 d-none d-md-block" type="button" routerLink="admin">
                Administració
            </button>
            <button id="btn-logout" class="btn btn-outline-success me-2 mt-1 d-none d-md-block" type="button" routerLink="logout">
                Logout
            </button>
        } -->
        <div class="nav navbar-nav d-flex flex-row justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item px-3 py-2 mx-md-3 mx-lg-5 d-none d-sm-block border border-primary-subtle">
                    <a class="nav-link text-white p-0" href="#home">Home</a>
                </li>
                <li class="nav-item px-3 py-2 mx-md-3 mx-lg-5 d-none d-sm-block border border-danger">
                    <a class="nav-link text-white p-0" href="#rules">Rules</a>
                </li>
                <li class="nav-item px-3 py-2 mx-md-3 mx-lg-5 d-none d-sm-block border border-warning">
                    <a class="nav-link text-white p-0" href="#team">Team</a>
                </li>
                @if(!logeado) {
                    <li class="nav-item px-3 py-2 mx-md-3 mx-lg-5 d-none d-sm-block border border-success-subtle">
                        <a class="nav-link text-white p-0" routerLink="login">Login</a>
                    </li>
                }
                @if (logeado) {
                    <li class="nav-item px-3 py-2 mx-md-3 mx-lg-5 d-none d-sm-block border border-success-subtle">
                        <a class="nav-link text-white p-0" href="#login">Logout</a>
                    </li>
                }
            </ul>
        </div>
        <!-- boton ventana lateral -->
        <div class="text-center col-2 d-none d-md-block">
            <button class="nav-item btn btn-danger mt-1" type="button" 
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" 
            aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">+4</button>
        </div>
        <!-- boton vista peque -->
        <div class="text-center col-2 d-block d-md-none">
            <button class="nav-item btn btn-danger mt-1 navbar-toggler pt-2 pb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerD3" aria-controls="navbarTogglerD3">+4</button>
        </div>
    </div>
    <div class="collapse navbar-collapse justify-content-around" id="navbarTogglerD3">
        <!-- <ul class="navbar-nav me-5 ms-3 ps-3">
            <li class="navbar-item d-lg-none">
                <span class="nav-link text-secondary h6">
                    <button id="btn-rules" class="btn btn-outline-warning me-2 text-secondary mt-1 d-md-none d-block" type="button" routerLink="rules">
                        Rules
                    </button>
                </span>
            </li>
            <li class="navbar-item d-lg-none">
                <span class="nav-link text-secondary h6">
                    <button id="btn-aboutus" class="btn btn-outline-warning me-2 text-secondary d-md-none d-block" type="button" routerLink="aboutus">
                        About Us
                    </button>
                </span>
            </li>
            @if(!logeado) {
                <li class="navbar-item d-lg-none">
                    <span class="nav-link text-secondary h6">
                        <button id="btn-login" class="btn btn-outline-warning me-2 text-secondary d-md-none d-block" type="button" routerLink="login">
                            Login
                        </button>
                    </span>
                <li class="navbar-item d-lg-none">
                    <span class="nav-link text-secondary h6">
                        <button id="btn-registro" class="btn btn-outline-warning me-2 text-secondary d-md-none d-block" type="button" routerLink="registro">
                            Registro
                        </button>
                    </span>
                </li>
            }
            @if (logeado) {
                <li class="navbar-item d-lg-none">
                    <span class="nav-link text-secondary h6">
                        <button id="btn-admin" class="btn btn-outline-success me-2 d-none d-md-block" type="button" routerLink="admin">
                            Administració
                        </button>
                    </span>
                </li>
                <li class="navbar-item d-lg-none">
                    <span class="nav-link text-secondary h6">
                        <button id="btn-logout" class="btn btn-outline-warning me-2 d-none d-md-block" type="button" routerLink="logout">
                            Logout
                        </button>
                    </span>
                </li>
            }
        </ul> -->
        <ul class="navbar-nav me-5 ms-3 ps-3">
            <li class="nav-item d-lg-none px-3 py-2 mx-5 border border-primary-subtle"><a class="nav-link text-white p-0" href="#home">Home</a></li>
            <li class="nav-item d-lg-none px-3 py-2 mx-5 border border-danger"><a class="nav-link text-white p-0" href="#rules">Rules</a></li>
            <li class="nav-item d-lg-none px-3 py-2 mx-5 border border-warning"><a class="nav-link text-white p-0" href="#team">Team</a></li>
            @if(!logeado) {
            <li class="nav-item d-lg-none px-3 py-2 mx-5 border border-success-subtle"><a class="nav-link text-white p-0" routerLink="login">Login</a></li>
            }
            @if (logeado) {
              <li class="nav-item d-lg-none px-3 py-2 mx-5 border border-success-subtle"><a class="nav-link text-white p-0" href="#login">Logout</a></li>
            }
          </ul>
    </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-light">
        <h5 id="offcanvasRightLabel">UPC-UNO</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-light">
        <p><a href="#">Reglas del juego</a></p>
        <p><a href="#">Score sheet</a></p>
        <p><a href="#">Equipo</a></p>
        <p><a href="#">Formulario de inscripcción</a></p>
        <!-- reglas del juego (mirar de hacer una card ancha)-->
        <!-- score sheet -->
        <!-- equipo (cards object-fit) -->
        <!-- formulario de inscripcción -->
    </div>
</div>