<div class="pt-5 invisible z-2" id="afegirtorneo"></div>
<div class="container justify-content-center">
    <h1>Añadir torneo</h1>
    <form [formGroup]="addtorneo">
    <!-- NOMBRE TORNEO -->
    <div class="mb3 mt-3">
        <label for="torneo" class="form-label">Nombre: </label>
        <input class="form-control" type="text" id="torneo" formControlName="torneo" placeholder="Nombre del torneo"
          required />
  
        @if(this.addtorneo.get('torneo')?.invalid && this.addtorneo.get('torneo')?.touched){
            @if(this.addtorneo.get('torneo')?.errors?.['required']) {
                <p class="text-danger">(Aquest camp és obligatori)</p>
            }
        }
      </div>
      <!-- DESCRIPCION -->
      <div class="mb3 mt-3">
            <label for="descripcion" class="form-label">Descripcion: </label>
            <input class="form-control" type="descripcion" id="descripcion" formControlName="descripcion"
            placeholder="Descripcion del torneo" required />
    
            @if(this.addtorneo.get('descripcion')?.invalid && this.addtorneo.get('descripcion')?.touched){
                @if(this.addtorneo.get('descripcion')?.errors?.['required']) {
                    <p class="text-danger">(Aquest camp és obligatori)</p>
                }
            }
        </div>
        <br>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="addtorneo.invalid">Añadir</button>
    </form>
    <br>
    <p class="mt-3">
        {{ message }}
    </p>
  </div>