<div class="background">
    <div class="d-flex justify-content-center z-1">
        <svg class="col-2 tamano" viewBox="0 6 300 250" xmlns="http://www.w3.org/2000/svg">
            <!-- Ovalo rojo inclinado -->
            <ellipse cx="150" cy="100" rx="130" ry="70" fill="red" transform="rotate(-15,150,100)" />
            <!-- Texto UPC con efecto de sombra -->
            <text x="50%" y="45%" font-family="Arial, sans-serif" font-size="65" font-weight="bold" 
                fill="black" stroke="white" stroke-width="10" text-anchor="middle" alignment-baseline="middle" z-index="20">
                {{ logo }}
            </text>
            <text x="51%" y="45%" font-family="Arial, sans-serif" font-size="65" font-weight="bold" 
                fill="white" stroke="black" stroke-width="10" text-anchor="middle" alignment-baseline="middle" z-index="1">
                {{ logo }}
            </text>
            <text x="50%" y="44%" font-family="Arial, sans-serif" font-size="70" font-weight="bold" 
                fill="yellow" text-anchor="middle" alignment-baseline="middle">
                {{ logo }}
            </text>
        </svg>
    </div>
    <div id="background" class="background-container"></div>
</div>