<footer class="bg-secondary text-light py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>UNO</h6>
                <ul class="list-unstyled">
                    <li>Aprende a jugar</li>
                    <li>Participantes</li>
                    <li>Cartas especiales</li>
                    <li>Chat interactivo</li>
                    <li>...</li>
                </ul>
            </div>
            <div class="col">
                <h6>Links</h6>
                <ul class="list-unstyled">
                    <li>Código en C</li>
                    <li>Código en <span class="text-secondary">C#</span></li>
                    <li>Configuración Server</li>
                    <li>Componentes Angular</li>
                    <li>Backend Laravel</li>
                    <li>Base de datos MySQL</li>
                </ul>
            </div>
            <div class="col">
                <h6>Score</h6>
                <ul class="list-unstyled">
                    <li>Top Ten</li>
                    <li>Descargas realizadas</li>
                    <li>Jugadores actuales</li>
                    <li>Partida más larga</li>
                    <li>Partida más corta</li>
                </ul>
            </div>
            <div class="col">
                <h6>Legal</h6>
                <ul class="list-unstyled">
                    <li>Términos y condiciones</li>
                    <li>Privacidad</li>
                    <li>Copyright</li>
                </ul>
            </div>
            <div class="col">
                <h6>Apúntate</h6>
                <ul class="list-unstyled">
                    <li>Subscríbete |&gt;</li>
                    <li>href slider</li>
                </ul>
            </div>
        </div>
    </div>
  </footer>
  